.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(248,246,246,0.95),rgba(248,246,246,0.95)), url(images/shadow_wake.gif);
    background-position: center;
    background-size: cover;
    position: relative;
}
